<div id="EditIssueEvaluateForm%>" style="">
				<ul>
					<%@evaluates = IssueEvaluates.find(@issue.evaluates[i].id)%>
					<%= form_for @evaluates, {
								 :remote => true,
								 :url => evaluate_issue_new_path(),
								 :html => {:id => 'edit-evaluation-form', :style => 'display: block;'},
								   } do |f| %>
		
						<%=f.hidden_field :issue_id, :value => @issue.id%> 
						<%=f.hidden_field :score%>   
						          
						<li><div id="evaluatelabel"><b>score:</b></div> <div id="star"></div></li>
						<li>
							<table>
								<tr><td><b>option:</b></td>
									<%@allOptions = EvaluateOptions.find(:all)
									for all in @allOptions%> 
										<td><input type="checkbox" name="EvaluateOptions[]" value="<%=all.id%>"><%=all.name%></td>
									<%end%>
								</tr>
							</table>
						</li>
						<li>&nbsp;</li>
						<li><%=f.submit 'OK', id:'Evaluate-Submit'%></li>
					<% end %>
				</ul>
			</div>