<h3>Evaluation</h3>

<%= javascript_include_tag "jquery.klass.js" , :plugin => 'issue_evaluate'%>
<%= javascript_include_tag "jquery.raty.js" , :plugin => 'issue_evaluate'%>
<%= javascript_include_tag "jquery.raty.min.js" , :plugin => 'issue_evaluate'%>
<%= stylesheet_link_tag "stylesheet.css" , :plugin => 'issue_evaluate'%>
<%= javascript_include_tag "issue_evaluate.js" , :plugin => 'issue_evaluate'%>


<div id="IssueEvaluate">
	<input type = 'hidden' id='IssueEvaluateSize' value = '<%=@issue.evaluates.length%>'>
	<input type = 'hidden' id='currentUser' value='<%=User.current.id%>,<%=User.current%>'>

	<%if @issue.evaluates.length >0 %>

		<% for i in 0...@issue.evaluates.length do %>
			<div id = "EvaluateNotice">
				<%= authoring @issue.evaluates[i].created_on, @issue.evaluates[i].user, :label => :label_updated_time_by %>
			</div>
			
			<div id="IssueEvaluate<%=i%>">
				<input type = 'hidden' id='IssueEvaluateScore<%=i%>' value = '<%=@issue.evaluates[i].score%>'>
			</div>
			
			<div id="IssueEvaluateOption<%=i%>">
				<%for issue_option_relation in @issue.evaluates[i].issue_option_relation %>
					<input type="checkbox" name="SelectedEvaluateOptions[]" value=""  checked="true" disabled><%=EvaluateOptions.find(issue_option_relation.evaluate_option_id).name%>
				<%end%>
			</div>
		<% end %>
	<%end%>
	
	<div id = "NewEvaluateNotice"></div>
	
	<div id="NewIssueEvaluate" ></div>
	
	<div id="NewIssueEvaluateOptions" ></div>
	
	<div class="contextual" id="contextual">
		<!-- <%# if User.current.allowed_to?(:manage_issue_relations, @project) %> -->
		  <%= toggle_link l(:button_add), 'new-evaluation-form', {:focus => ''} %>
		<!-- <%# end %> -->
	</div>

	<div id="EvaluateAdd">
		<ul>
			<%@evaluate = IssueEvaluates.new%>
			<%= form_for @evaluate, {
						 :remote => true,
						 :url => evaluate_issue_new_path(),
						 :html => {:id => 'new-evaluation-form', :style => 'display: none;'},
						   } do |f| %>

				<%=f.hidden_field :issue_id, :value => @issue.id%> 
				<%=f.hidden_field :score%>   
				          
				<li><div id="evaluatelabel"><b>score:</b></div> <div id="star"></div></li>
				<li>
					<table>
						<tr><td><b>option:</b></td>
							<%@allOptions = EvaluateOptions.find(:all)
							for all in @allOptions%> 
								<td><input type="checkbox" name="EvaluateOptions[]" value="<%=all.id%>"><%=all.name%></td>
							<%end%>
						</tr>
					</table>
				</li>
				<li>&nbsp;</li>
				<li><%=f.submit 'OK', id:'Evaluate-Submit'%></li>
			<% end %>
		</ul>
	</div>
</div>

<%= javascript_tag "observeIssueChecklistField('Evaluate-Submit');" %>
<%= javascript_tag "createIssueChecklist();" %>
