Evaluation

<%= javascript_include_tag "jquery.raty.js" , :plugin => 'issue_evaluate'%>
<%= javascript_include_tag "jquery.raty.min.js" , :plugin => 'issue_evaluate'%>




<div class="contextual">
<%# if User.current.allowed_to?(:manage_issue_relations, @project) %>
  <%= toggle_link l(:button_add), 'new-evaluation-form', {:focus => ''} %>
<%# end %>
</div>

<%@evaluate = IssueEvaluates.new%>
<%= form_for @evaluate, {
                 :remote => true,
                 :url => evaluate_issue_new_path(@issue),
                 :method => :post,
                 :html => {:id => 'new-evaluation-form', :style => 'display: none;'}
               } do |f| %>
<%#=f.text_field(:score, :id, class: 'score_id')%>   
<%=f.text_field :score %>              
<ul>
	<li>score: <div id="star"></div></li>
</ul>
<p><%#= f.text_field :advice, :size => 80, :maxlength => 255, :required => true %></p>
<%=f.submit%>
<% end %>

<script>
	$(document).ready(function() {
		$('#star').raty({
			path: "/plugin_assets/issue_evaluate/images",
			target: '#issue_evaluates_score',
		});
		alert($('#score_id').value);
	});
</script>