<%= form_for (@evaluate_option), { :url => evaluate_options_path()} do |f| %>
  <% if @evaluate_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluate_option.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @evaluate_option.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit 'Create'%>
  </div>
<% end %> 