<h2>Listing Evaluate Options</h2>

<%= stylesheet_link_tag "stylesheet.css" , :plugin => 'issue_evaluate'%>

<table id="EvaluateOptionsIndex">
  <tr>
  	<th>Id</th>
    <th>Name</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>

<% if @evaluate_options != nil
    @evaluate_options.each do |evaluate_option| %>
	  <tr>
	  	<td><%= evaluate_option.id %></td>
	    <td><%= evaluate_option.name %></td>
	    <td><%= link_to 'Edit', edit_evaluate_option_path(evaluate_option) %></td>
	    <td><%= link_to 'Destroy', evaluate_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
<% end %>
</table>

<br />
<%puts @project_id%>
<%= link_to 'New', new_evaluate_option_path(:project_id => @project_id) %>
