<h2><%=l(:label_evaluate_option)%></h2>

<%= stylesheet_link_tag "stylesheet.css" , :plugin => 'issue_evaluate'%>

<table id="EvaluateOptionsIndex">
  <tr>
  	<th><%=l(:label_id)%></th>
    <th><%=l(:label_Name)%></th>
    <th><%=l(:label_Edit)%></th>
    <th><%=l(:label_Destroy)%></th>
  </tr>

<% if @evaluate_options != nil
    @evaluate_options.each do |evaluate_option| %>
	  <tr>
	  	<td><%= evaluate_option.id %></td>
	    <td><%= evaluate_option.name %></td>
	    <td><%= link_to l(:label_Edit), edit_evaluate_option_path(:id =>evaluate_option.id ,:project_id => @project_id) %></td>
	    <td><%= link_to l(:label_Destroy), evaluate_option_path(:id =>evaluate_option.id ,:project_id => @project_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
<% end %>
</table>

<br />
<%= link_to l(:label_new), new_evaluate_option_path(:project_id => @project_id) %>
