<%= form_for(@evaluate_options) do |f| %>
  <% if @evaluate_options.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluate_options.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @evaluate_options.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>