<h2>Listing posts</h2>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @evaluate_options.each do |evaluate_option| %>
  <tr>
    <td><%= evaluate_option.name %></td>
     <td><%= link_to 'Show', evaluate_option %></td>
    <td><%= link_to 'Edit', edit_evaluate_option_path(evaluate_option) %></td>
    <td><%= link_to 'Destroy', evaluate_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New', new_evaluate_option_path %>
